<div class="card col-lg-12" style="width: 400px;">
  <% if @country %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @country["country"] %></li>
      <li class="list-group-item">Confirmed: <%= number_with_delimiter(@country["confirmed"], :delimiter => ",") %></li>
      <li class="list-group-item">Recovered: <%= number_with_delimiter(@country["recovered"], :delimiter => ",") %></li>
      <li class="list-group-item">Critical: <%= number_with_delimiter(@country["critical"], :delimiter => ",") %></li>
      <li class="list-group-item">Deaths: <%= number_with_delimiter(@country["deaths"], :dlimiter => ",") %></li>
      <li class="list-group-item">Last updated <%= time_ago_in_words(DateTime.parse(@country["lastUpdate"])) %> ago.</li>
    </ul>
  <% else %>
    <p>No Results</p>
  <% end %>
</div>

